@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');


:root{
    --primary-color: #0db75f;
    --primary-color-dark: #0c9a51;
    --text-dark: #030712;
    --text-light: #6b7280;
    --extra-light: #d1d5db;
    --white: #ffffff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section_container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_subheader{
    max-width: fit-content;
    padding: 8px;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    border-radius: 100%;
}

.section_header{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.25rem;
    color: var(--text-dark);
}

.section_header span{
    color: var(--primary-color);
}

.section_description{
    color: var(--extra-light);
    line-height: 1.5rem;
}

.btn{
    padding: calc(0.75rem + 2px) 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--primary-color);
}

img{
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul{
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif;
}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav_header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav_logo a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
}

.nav_logo a span{
    padding: 2px 10px;
    color: var(--primary-color);
    background-color: var(--white);
    border-radius: 5px;
}

.nav_menu_btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav_links{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    transition: transform 0.5s;
    z-index: -1;
}

.nav_links.open {
    transform: translateY(100%);
}

.nav_links a {
    font-weight: 500;
    color: var(--white);
}

.nav_btn{
    display: none;
}

.header_container{
    display: grid;
    gap:4rem 2rem;
    overflow: hidden;
}

.header_image{
    position: relative;
    isolation: isolate;
}

.header_image img{
    max-width: 350px;
    margin-inline: auto;
}

.header_image::before,
.header_image::after{
    position: absolute;
    content: '';
    height: 80%;
    width: 100%;
    max-width: 400px;
}

.header_image::before{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    z-index: -2;
}

.header_image::after{
    bottom: -3rem;
    left: 50%;
    transform: translateX(calc(-50% - 3rem));
    border: 5px solid var(--text-dark);
    opacity: 0.75;
    border-radius: 5px;
    z-index: -1;
}

.header_content .section_subheader{
    padding: 6px 15px; /* Adjusts padding to create an oval shape */
    border: 2px solid black; /* Adds a border */
    border-radius: 50px;
    margin-inline: auto;
}

.header_content h1{
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.25rem;
    color: var(--text-dark);
    text-align: center;
}

.header_content h1 span{
    color: var(--primary-color);
}

.header_content .section_description{
    margin-bottom: 2rem;
    text-align: center;
}

.header_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.header_btn a{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-dark);
}

.header_btn a span{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.header_btn a:hover{
    color: var(--primary-color);
}

.stats_container{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.stats_card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.stats_card h4{
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.stats_card p{
    font-size: 1.2rem;
    color: var(--text-dark);
}

.skill_container{
    display: grid;
    gap: 2rem;
}

.skill_content .section_header{
    margin-bottom: 1rem;
}

.skill_content .section_description{
    margin-bottom: 2rem;
}

.skill_grid{
    display: grid;
    gap: 1rem;
}

.skill_card{
    padding: 1rem;
    border-radius: 5px;
    box-shadow:5px 5px 20px  rgba(0, 0, 0, 0.09);
}

.skill_card span{
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.skill_card h4{
    margin-bottom: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.skill_card p{
    color: var(--text-light);
    line-height: 1.5rem;
}

@media (width > 540px) {
    .stats_container{
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .stats_card{
        align-items: flex-start;
        flex-direction: column;
        gap: 0;
    }
    .stats_divider{
       height: 75px;
        width: 2px;
        background-color: var(--primary-color);
    }
}

@media (width > 768px){
    nav{
        position: static;
        padding: 2rem 1rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .nav_header{
        flex: 1;
        padding: 0;
        background: transparent;
    }

    .nav_logo a{
        font-size: 1.5rem;
        color: var(--primary-color);
    }

    .nav_logo a span{
        padding: 4px 14px;
        color: var(--white);
        background-color: var(--primary-color);
    }

    .nav_menu_btn{
        display: none;
    }

    .nav_links{
        position: static;
        padding: 0;
        max-width: fit-content;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    }

    .nav_links a{
        color: var(--text-dark);
    }

    .nav_links a:hover{
        color: var(--primary-color);
    }

    .nav_links li:last-child{
        display: none;
    }

    .nav_btn{
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

    .nav_btn a{
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        font-weight: 500;
        color: var(--text-dark);
        white-space: nowrap;
        border: 2px solid var(--primary-color);
        border-radius: 10px;
    }

    .nav_btn a:hover{
        color: var(--white);
        background-color: var(--primary-color);
    }

    .header_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .header_container .section_subheader{
        margin-inline: unset;
    }
    .header_content :is(h1, .section_description){
        text-align: left;
    }
    .header_btn{
        justify-content: flex-start;
    }
    .header_image{
        grid-area: 1/2/2/3;
    }

}